apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app-deployment
  namespace: spring-k8s
spec:
  replicas: 2
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
        - name: sample-app
          image: ghcr.io/seungh0/k8s-spring-test:latest
          ports:
            - containerPort: 8080
          imagePullPolicy: Always