Name: k8s-spring-deploy

on:
  push:
    branches:
      - master
      - feature/cicd-k8s
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: checkout@v2
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GIT_TOKEN }}

      - name: Build, tag, and push image to ghcr.io
        env:
          REGISTRY_NAME: ghcr.io/seungh0
          REPOSITORY_NAME: k8s-spring-test
        run: |
          docker build -t $REGISTRY_NAME/$REPOSITORY_NAME:latest .
          docker push $REGISTRY_NAME/$REPOSITORY_NAME:latest
  deploy:
    name: Deploy
    needs:
      - build
    runs-on: k8s-spring
    steps:
      - name: run server
        env:
          REGISTRY_NAME: ghcr.io/seungh0
          REPOSITORY_NAME: k8s-spring-test
        run: |
        kubectl set image deployment/spring-app-deployment spring-app=$REGISTRY_NAME/$REPOSITORY_NAME:latest